# Improve security by adding a package-lock file (npm v5+)
package-lock=true

# Prevent the running of arbitrary scripts
audit=true
fund=false
ignore-scripts=true

# Use local cache to speed up installs and reduce network reliance
prefer-offline=true
progress=true

# Override the default save-prefix to use exact versions
save-exact=true 